.general-container {
  .general-box {
    padding: 0 22px;
    &-item {
      width: 100%;
      height: 30px;
      font-size: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      padding-right: 20px;
      margin-top: 15px;
      &-icon {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 160, 28, 1);
      }
      &-info {
        margin-left: 23px;
        display: flex;
        justify-content: space-between;
        flex: 1;
        height: 100%;
        align-items: center;
        &-value {
          border-bottom: 1px solid #fff;
          height: 100%;
          min-width: 43px;
          text-align: center;
          line-height: 30px;
          color: rgba(255, 217, 0, 1);
          font-size: 20px;
        }
      }
    }
  }
}
.sage-view {
  height: 360px;
  .sage-box {
    padding: 0 22px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &-item {
      width: 100%;
      height: 30px;
      font-size: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      padding-right: 20px;
      margin-top: 15px;
      cursor: pointer;
      &-icon {
        width: 10px;
        height: 10px;
        background-color: rgba(5, 192, 212, 1);
      }
      &-info {
        margin-left: 23px;
        display: flex;
        justify-content: space-between;
        flex: 1;
        height: 100%;
        align-items: center;
        color: #fff;
        &-value {
          border-bottom: 1px solid #fff;
          height: 100%;
          min-width: 43px;
          text-align: center;
          line-height: 30px;
          color: rgba(255, 217, 0, 1);
          font-size: 20px;
        }
      }
    }
  }
}
